@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header .active{
  color: blue !important;
}

button:active{
    transform: scale(0.9);
    outline: none;
  }

  input{
    outline: none;
  }

 

  .category::-webkit-scrollbar{
    display: none;
  }

